* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px; 
}

.header {
  display:flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #282280 1.18%, #605894 100%);
  color:white;
  padding: 20px;
}

.header-image{
  height: 50px;
  margin-right: 10px;
}

.header-title{
  font-size: 20px;
  margin-right: auto;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 20px;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form-button{
  grid-column: 1/-1;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90.41deg, #272268 1.14%, #554a9c 100%);
  border-radius: 5px;
  border: none;
  color:white;
  font-size: 18px;
  line-height: 19px;
  cursor: pointer;
}

.meme { 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meme-image {
  height:600px;
  height:600px;
  border-radius: 3px;
  object-fit: cover;
}

.meme-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
  padding: 5px;
}

.top {
  top: 10px;
}

.bottom {
  bottom: 10px;
}


